<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="farm-cache" value="\\CORP\builds\release\nugetproxy" />
    <add key="farm-fallback" value="http://ccnet.devexpress.devx/nuget/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/XOvrCiTemTNuvFgAG659nPL3jwWSdff2jv1hlogrmghIiJ86yf/api" />
    <add key="LocalDevExpress" value="\\corp\builds\codecentral\DXDLLS4CORE\20.2.4" />
    <add key="LocalDevExpressDxDlls" value="\\corp\builds\codecentral\DXDlls\20.2.4\Packages" />
  </packageSources>
</configuration>